
html {
    background-color: black;
}
.main1 {
    position: inherit;
    height:5vh;
    width:100%;
    min-width:100px;
    background-color: rgb(226, 14, 14);
    margin: 0px auto;
    padding:0px;
    border-style: none;
    display:flex;
}
.main2 {
    position: relative;
    display:flex;
    height:5vh;
    width:90%;
    min-width:100px;
    background-color: rgb(226, 134, 14);
    margin: 0px auto;
    padding:0px;

}

.main3 {
    position: inherit;
    height:5vh;
    width:80%;
    min-width:100px;
    background-color: rgb(226, 212, 14);
    margin: 0px auto;
    padding:0px;
    border-style: none;
    display:flex;
}
.main4 {
    position: relative;
    display:flex;
    height:5vh;
    width:70%;
    min-width:100px;
    background-color: rgb(49, 226, 14);
    margin: 0px auto;
    padding:0px;

}

.main5 {
    position: inherit;
    height:5vh;
    width:60%;
    min-width:100px;
    background-color: rgb(14, 226, 180);
    margin: 0px auto;
    padding:0px;
    border-style: none;
    display:flex;
}
.main6 {
    position: relative;
    display:flex;
    height:5vh;
    width:50%;
    min-width:100px;
    background-color: rgb(14, 184, 226);
    margin: 0px auto;
    padding:0px;

}
.main7 {
    position: inherit;
    height:5vh;
    width:40%;
    min-width:100px;
    background-color: rgb(14, 71, 226);
    margin: 0px auto;
    padding:0px;
    border-style: none;
    display:flex;
}
.main8 {
    position: relative;
    display:flex;
    height:5vh;
    width:30%;
    min-width:100px;
    background-color: rgb(78, 14, 226);
    margin: 0px auto;
    padding:0px;

}

.main9 {
    position: inherit;
    height:5vh;
    width:20%;
    min-width:100px;
    background-color: rgb(191, 14, 226);
    margin: 0px auto;
    padding:0px;
    border-style: none;
    display:flex;
}
.main10 {
    position: relative;
    display:flex;
    height:5vh;
    width:10%;
    min-width:100px;
    background-color: rgb(226, 14, 162);
    margin: 0px auto;
    padding:0px;

}

.main11 {
    position: inherit;
    height:5vh;
    width:10%;
    min-width:100px;
    background-color: rgb(226, 14, 162);
    margin: 0px auto;
    padding:0px;
    border-style: none;
    display:flex;
}
.main12 {
    position: relative;
    display:flex;
    height:5vh;
    width:20%;
    min-width:100px;
    background-color: rgb(191, 14, 226);
    margin: 0px auto;
    padding:0px;

}

.main13 {
    position: inherit;
    height:5vh;
    width:30%;
    min-width:100px;
    background-color: rgb(78, 14, 226);
    margin: 0px auto;
    padding:0px;
    border-style: none;
    display:flex;
}
.main14 {
    position: relative;
    display:flex;
    height:5vh;
    width:40%;
    min-width:100px;
    background-color: rgb(14, 71, 226);
    margin: 0px auto;
    padding:0px;

}

.main15 {
    position: inherit;
    height:5vh;
    width:50%;
    min-width:100px;
    background-color: rgb(14, 184, 226);
    margin: 0px auto;
    padding:0px;
    border-style: none;
    display:flex;
}
.main16 {
    position: relative;
    display:flex;
    height:5vh;
    width:60%;
    min-width:100px;
    background-color: rgb(14, 226, 180);
    margin: 0px auto;
    padding:0px;

}
.main17 {
    position: inherit;
    height:5vh;
    width:70%;
    min-width:100px;
    background-color: rgb(49, 226, 14);
    margin: 0px auto;
    padding:0px;
    border-style: none;
    display:flex;
}
.main18 {
    position: relative;
    display:flex;
    height:5vh;
    width:80%;
    min-width:100px;
    background-color: rgb(226, 212, 14);
    margin: 0px auto;
    padding:0px;

}

.main19 {
    position: inherit;
    height:5vh;
    width:90%;
    min-width:100px;
    background-color: rgb(226, 134, 14);
    margin: 0px auto;
    padding:0px;
    border-style: none;
    display:flex;
}
.main20 {
    position: relative;
    display:flex;
    height:5vh;
    width:100%;
    min-width:100px;
    background-color: rgb(226, 14, 14);
    margin: 0px auto;
    padding:0px;

}