html {
background-color: azure;}

.button1 {
    border:3px powderblue;
    border-style: dashed;
    border-radius: 8%;
    padding: 8px;
    background-color: inherit;
    display: inline-block;
    font-size:16px;
    -webkit-text-fill-color: powderblue;
    transition: background-color 0.3s, color 0.3s, border 0.3s;

}
.button1:hover {background: powderblue;
    -webkit-text-fill-color: white;
    border-color:white;
}
.button2 {
    border:3px rgb(189, 230, 176);
    border-style: dashed;
    border-radius: 8%;
    padding: 8px;
    background-color: inherit;
    display: inline-block;
    font-size:16px;
    -webkit-text-fill-color: rgb(189, 230, 176);
    transition: background-color 0.3s, color 0.3s, border 0.3s;

}
.button2:hover {background: rgb(189, 230, 176);
    -webkit-text-fill-color: white;
    border-color:white;
}

.button3 {
    border:3px rgb(224, 159, 197);
    border-style: dashed;
    border-radius: 8%;
    padding: 8px;
    background-color: inherit;
    display: inline-block;
    font-size:16px;
    -webkit-text-fill-color: rgb(224, 159, 197);
    transition: background-color 0.3s, color 0.3s, border 0.3s;

}
.button3:hover {background: rgb(224, 159, 197);
    -webkit-text-fill-color: white;
    border-color:white;
}

.button4 {
    border:3px rgb(29, 130, 197);
    bottom:300px;
    right:200px;
    position: absolute;
    border-style: dashed;
    border-radius: 8%;
    padding: 8px;
    background-color: inherit;
    display: inline-block;
    font-size:16px;
    -webkit-text-fill-color: rgb(29, 130, 197);
    transition: background-color 0.3s, color 0.3s, border 0.3s;

}
.button4:hover {background: rgb(29, 130, 197);
    -webkit-text-fill-color: white;
    border-color:white;
}