html {
    background-color: #87ceeb;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: 20px;
    width: 15%;
  }
h2 {
    text-align: right;
    font-family:'Times New Roman', Times, serif;
    margin-left: auto;
    margin-right: 20px;
}
p {
    text-align: right;
    margin-left: auto;
    margin-right: 20px;
    width: 50%;
    
}
h3 {
    text-align: right;
    margin-right: 20px;
}
.centeralbum {
    display: block;
    margin-left: auto;
    margin-right: 20px;
    margin-top:20px;
}
.music {
margin:0 auto;
    position:relative;
    display: flex;
    justify-content: left;
    align-items: left;
}
.centertext {
    text-align: left;
    margin-left: 20px;
    margin-right: auto;
}
.leftmusic {
    position:fixed;
    margin-top:20px;
    margin-right:20px;
}
audio::-webkit-media-controls-panel {
    background-color: skyblue;
  }
  audio::-webkit-media-controls-current-time-display {
    color: #fff;
  }
  audio::-webkit-media-controls-time-remaining-display {
    color: #fff;
  }
  .container {
    display: flex;
    justify-content: left;
    position: relative;
    top:20px;
    right:20px;
    left:20px;
}

.content {
    flex: 2;
    padding-right: 0;
    padding-bottom: 60px;

}

.audio-player {
    justify-content: left;
    position: absolute;
    top:80px;
    right:auto;
    left:100px;
    bottom:20px;
}

.doof {
    position: absolute;
    bottom: 0px;
    right: 0px;
    left:auto;
    top:600px;
}
.links {
    text-align: right;
    bottom:20px;
    top:1250px;
    right:20px;
    position: absolute;
}
.doof2 {
    position: absolute;
    opacity: .20;
    bottom: 0px;
    right: 600px;
    left:auto;
    top:400px;
    min-height:1000px;
}